<style>
  .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
      margin: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      text-align: center;
  }
  .kv-avatar {
      display: inline-block;
  }
  .kv-avatar .file-input {
      display: table-cell;
      width: 213px;
  }
  .kv-reqd {
      color: red;
      font-family: monospace;
      font-weight: normal;
  }
  </style>
   
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  agregar personal
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registo Peronal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-vertical">
          <div class="row">
              
              <div class="col-sm-10">
                  <div class="row">
                      <div class="col-sm-10">
                          <div class="form-group">
                              <label for="email">Nombres<span class="kv-reqd">*</span></label>
                              <input type="email" class="form-control" name="email" required>
                            </div>
                      </div>
                      <div class="col-sm-10">
                          <div class="form-group">
                              <label for="pwd">DNI<span class="kv-reqd">*</span></label>
                              <input type="password" class="form-control" name="pwd" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-10">
                          <div class="form-group">
                              <label for="fname">Apellido paterno</label>
                              <input type="text" class="form-control" name="fname" required>
                          </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group">
                            <label for="lname">Apellido materno</label>
                            <input type="text" class="form-control" name="lname" required>
                        </div>
                    </div>
                      <div class="col-sm-10">
                          <div class="form-group">
                              <label for="lname">Jornada Laboral</label>
                              <select type="text" class="form-control" name="lname" required>
                                <option selected>Seleccione la jornada</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group">
                            <label for="lname">Cargo</label>
                            <select type="text" class="form-control" name="lname" required>
                              <option selected>Seleccionar cargo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10">
                      <div class="form-group">
                          <label for="lname">Tipo de Contrato</label>
                          <select type="text" class="form-control" name="lname" required>
                            <option selected>Seleccione el contrato</option>
                          </select>
                      </div>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-6">
                      <label>Vista Previa</label>
                        <div class="kv-avatar">
                          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="" height="180">
                            <div class="file-loading">
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                <label class="custom-file-label" for="customFileLang">Seleccionar foto</label>
                              </div>
                              
                             
                            </div>
                        </div>
                    </div>
                      
                  </div>
              </div>
          </div>
      </form>
      <div id="kv-avatar-errors-1" class="center-block" style="width:800px;display:none"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

 

  
  

  

    
        <div class="table">
          <table class="table table-hover table-condensed table-bordered" id="iddatatable">
            <thead style=" font-weight: bold;">
              <tr>
                <td>DNI</td>
                <td>Nombres</td>
                <td>Apellido Paterno</td>
                <td>Apellido Materno</td>
                <td>Cargo</td>
                <td>Jornada</td>
                <td>Tipo de contrato</td>
                <td>Editar</td>
                <td>Deshabilitar</td>
              </tr>
            </thead>
            <tfoot style=" font-weight: bold;">
              <tr>
                <td>DNI</td>
                <td>Nombres</td>
                <td>Apellido Paterno</td>
                <td>Apellido Materno</td>
                <td>Cargo</td>
                <td>Jornada</td>
                <td>Tipo de contrato</td>
                <td>Editar</td>
                <td>Deshabilitar</td>
              </tr>
            </tfoot>
            <tbody >
             
                <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                  <td style="text-align: center;">
                    <span class="btn btn-warning btn-sm" data-toggle="modal">
                      <span class="fa fa-pencil-square-o"></span>
                    </span>
                  </td>
                  <td style="text-align: center;">
                    <span class="btn btn-danger btn-sm">
                      <span class="fa fa-trash"></span>
                    </span>
                  </td>
                </tr>
              
            </tbody>
          </table>
        </div>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      