/* You can add global styles to this file, and also import other style files */
body{
    background: url(./assets/img/fondo.jpg);
    background-size: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
